.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #FFEBCD;
  text-align: center;
}

.App-map {
  height: 350px;
  justify-self: flex-end;
  align-self: flex-end;
  text-align: center;
  float: left;
}

.App-intro {
  font-size: large;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFEBCD;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #FFEBCD;
}

/* General sidebar styles */
.bm-menu {
  background: #222222;
  padding: 4.5em 1.5em 0;
  font-size: 1.15em;
  color:#FFEBCD;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #FFEBCD;
  padding-left: 2em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.vote {
  font-family: 'Arimo', sans-serif;
  text-align: center;
  color: #525558;
  user-select: none;
  cursor: default;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:50px;
}
.vote__arrow {
  width: 32px;
  margin: 8px 0;
  fill: none;
  stroke-width: 2;
  stroke: #abaeb1;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
}
.vote__arrow:active {
  transform: scale(1.15);
}
.vote__arrow--up:active {
  stroke: #b4da55;
}
.vote__arrow--down:active {
  stroke: #f33119;
}
.vote__columns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vote__column {
  height: 48px;
  font-size: 42px;
  line-height: 120%;
  overflow: hidden;
}

.form{
  background-color: white;
}

.table{
  border: 3px solid black;
}
#upvote , #downvote {
  display:inline-block;
  /**other codes**/
}
.map{
  float:left;
}