{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "stage-1",
    [
      "env"
    ]
  ],
  "plugins": [
    ["lodash", { "id": ["lodash", "semantic-ui-react"] }],
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
